<link rel="stylesheet" href="../styles.css">
<div class="layout-cuentas">
  <div class="layout-cuentas-header">
    <h1>Cuentas Bancarias</h1>
    <button class="button-nueva-cuenta">+ Añadir nueva cuenta</button>
  </div>
  <div class="cuenta-container">
    <table class="cuenta-table">
      <thead>
        <tr>
          <th>Formularios</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody id="cuenta-tbody">
        <!-- Filas de formularios se insertan aquí dinámicamente -->
      </tbody>
    </table>
  </div>
</div>
