<link rel="stylesheet" href="../styles.css" />
<link rel="icon" href="../assets/icon-telecable.ico" style="border-radius: 50px;">
<div class="layout-pbx">
  <div class="layout-pbx-header">
    <h1>Extensiones (PBX)</h1>
    <button class="button-nueva-oficina">+ Añadir nuevo personal</button>
  </div>
  <div class="pbx-container">
    <table class="pbx-table">
      <thead>
        <tr>
          <th>Nombre personal</th>
          <th>Cargo</th>
          <th>Extension (PBX)</th>
        </tr>
        <tbody id="pbx-tbody">
          <!-- Filas de extensiones se insertan aquí dinámicamente -->
        </tbody>
      </thead>
    </table>
  </div>
</div>
