<link rel="stylesheet" href="../styles.css" />
<div class="layout-formularios">
  <div class="layout-formularios-header">
    <h1>Formularios</h1>
    <button class="button-nuevo-formulario">+ Añadir nuevo formulario</button>
  </div>
  <div class="formularios-container">
    <table class="formularios-table">
      <thead>
        <tr>
          <th>Formularios</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody id="formularios-tbody">
        <!-- Filas de formularios se insertan aquí dinámicamente -->
      </tbody>
    </table>
  </div>
</div>
