<link rel="stylesheet" href="../styles.css" />
<section class="views-body">
  <div class="desarrollo-card">
    <div class="card-header">
      <a href="#desarrollos">← Volver a Desarrollos</a>
      <h1 id="nombre-desarrollo">
        <!-- renderizara el nombre del desarrollo -->
      </h1>
    </div>
    <div class="body-desarrollos">
      <!-- PANEL: INFORMACIÓN GENERAL -->
      <div class="section">
        <div class="info-desarrollo">
          <h2>Informacion General</h2>
          <div id="info-general-desarrollo">
            <!-- renderizara la informacion general del desarrollo -->
          </div>
        </div>
        <div class="info-planes-desarrollo">
          <h2>Planes</h2>
          <div id="info-plan-desarrollo">
            <!-- renderizara los planes del desarrollo -->
          </div>
        </div>
        <div class="info-correo-desarrollo">
          <h2>Correo Electronico</h2>
          <div id="info-correo-desarrollo">
            <!-- renderizara el correo electronico del desarrollo -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
