<link rel="stylesheet" href="../styles.css" />
<section class="views-body">
  <div class="oficinas-card">
    <div class="card-header">
      <a href="#oficinas">← Volver a Oficinas</a>
      <h1 id="nombre-oficina">
        <!-- renderizara el nombre de la oficina -->
      </h1>
    </div>
    <div class="body-oficinas">
      <!-- PANEL IZQUIERDO: INFORMACIÓN GENERAL -->
      <div class="section-letf">
        <div class="info-oficina">
          <h2>Informacion General</h2>
          <div id="info-general">
            <!-- renderizara la informacion general de la oficina -->
          </div>
        </div>
        <div class="info-planes">
          <h2>Planes</h2>
          <div id="info-plan">
            <!-- renderizara los planes de la oficina -->
          </div>
        </div>
        <div class="info-punto-recuado">
          <h2>Puntos de recaudo asociados</h2>
          <div id="info-puntos">
            <!-- renderizara los puntos de racaudos de la oficina -->
          </div>
        </div>
      </div>
      <!-- PANEL DERECHO: INFORMACION ADICIONAL -->
      <div class="section-right">
        <div class="info-adicional">
          <h2>Informacion adicional</h2>
          <div id="info-adicional">
            <!-- renderizara la informacion adicional de la oficina -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
